<div class="admin-sidebar">
  <ul class="am-list admin-sidebar-list">
    <li><a ui-sref="admin"><span class="am-icon-home"></span> 首页</a></li>
    <li class="admin-parent">
      <a class="am-cf" data-am-collapse="{target: '#collapse-nav1'}"><span class="am-icon-file"></span> 美食模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
      <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav1">
        <li><a ui-sref="admin.food"><span class="am-icon-bug"></span> 美食列表</a></li>
        <li><a ui-sref="admin.food_cate"><span class="am-icon-bug"></span> 美食分类列表</a></li>
        <li><a ui-sref="admin.shop"><span class="am-icon-bug"></span> 商店分类列表</a></li>
        <li><a ui-sref="admin.region"><span class="am-icon-bug"></span> 地区列表</a></li>
        <li><a ui-sref="admin.company"><span class="am-icon-bug"></span> 公司列表</a></li>
        <!-- <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
        <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
        <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
        <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
        <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
         -->
      </ul>
      <a class="am-cf" data-am-collapse="{target: '#collapse-nav2'}"><span class="am-icon-file"></span> 其他模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
      <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav2">
        <li><a ui-sref="admin.news"><span class="am-icon-bug"></span> 新闻列表</a></li>
        <li><a ui-sref="admin.friendly_link"><span class="am-icon-bug"></span> 友情链接列表</a></li>
        <li><a ui-sref="admin.setting"><span class="am-icon-bug"></span> 网站设置</a></li>
        <li><a ui-sref="admin.banner"><span class="am-icon-bug"></span> 广告列表</a></li>
        <li><a ui-sref="admin.adminList"><span class="am-icon-bug"></span> 管理员列表</a></li>
        <li><a ui-sref="admin.nav"><span class="am-icon-bug"></span> 导航列表</a></li>
        <li><a ui-sref="admin.page"><span class="am-icon-bug"></span> 页面列表</a></li>
      </ul>
    </li>
    <!-- <li><a href="admin-table.html"><span class="am-icon-table"></span> 表格</a></li>
    <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li> -->
    <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
  </ul>

  <!-- <div class="am-panel am-panel-default admin-sidebar-panel">
    <div class="am-panel-bd">
      <p><span class="am-icon-bookmark"></span> 公告</p>
      <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>
    </div>
  </div>

  <div class="am-panel am-panel-default admin-sidebar-panel">
    <div class="am-panel-bd">
      <p><span class="am-icon-tag"></span> wiki</p>
      <p>Welcome to the Amaze wiki!</p>
    </div>
  </div> -->
</div>