<div id="container">
	<div id="buttons">
        <span index="1" class="on"></span>
        <span index="2"></span>
        <span index="3"></span>
    </div>
    <div id="list">
        <ul>
            <li ng-repeat="item in data"><a href="{{ item.link }}"><img src="{{ item.pic }}" alt=""></a></li>
        </ul>
    </div>
    <a href="javascript:;" id="prev" class="arrow"><img src=".../../assets/home/img//l.png"/></a>
    <a href="javascript:;" id="next" class="arrow"><img src=".../../assets/home/img//r.png"/></a>
</div>